body{
  background-color: #fff;
  font-family: "Microsoft JhengHei", "Microsoft YaHei", Tohoma, Arial;
  overflow-y: hidden;
}
*{
  margin: 0;
  padding: 0;
}
li{
  list-style: none;
}
.header{
  width: 100%;
  height: 100px;
  background-color: black;
  position: relative;
}
.header .logo{
  position: absolute;
  left: -30px;
}
.header .logo img{
  width: 315px;
  height: 150px;
  user-select: none;
}
.header .register{
  width: 200px;
  height: 100%;
  line-height: 100px;
  float: right;
}
.header .register li{
  float: left;
  font-size: 16px;
  padding-left: 10px;
  margin-right: 10px;
}
.header .register a{
  color: #fff;
  text-decoration: none;
}
.header .register a:hover{
  color: rgb(240, 180, 90);
}
.content{
  width: 100%;
  height: 660px;
  background-color: pink;
}
.content .content_in{
  width: 1200px;
  height: 100%;
  background-color: skyblue;
  margin: 0 auto;
}
.content .content_in .banner_left{
  float: left;
  width: 800px;
  height: 100%;
  background-color: #fff;
}
.content .content_in .banner_right{
  float: left;
  width: 400px;
  height: 100%;
  background-color: rgb(117, 34, 34);
}
.content .content_in .banner_left .tool{
  width: 100%;
  height: 50px;
  line-height: 36px;
margin-top: 20px;
background-color: black;
}

.content .content_in .banner_left .tool span{
  display: inline-block;
  width: 120px;
  height: 36px;
  margin-left: 30px;
  outline: none;
  border: rgb(255, 255, 255) 1px solid;
  text-align: center;
  border-radius: 5px;
  color: white;
  opacity: 0.5;
}
.content .content_in .banner_left .tool span i{
  display: inline-block;
  margin-right: 10px;
}
.content .content_in .banner_left .tool span:hover{

  border: rgb(236, 241, 239) 1px solid;
  opacity: 1;
}
.content .content_in .banner_left .tool img{
  width: 24px;
  height: 24px;
  /* margin-top: -5px; */
  vertical-align: -5px;
  padding-left: 10px;

}
.content_in .banner_left .list li{
width: 100%;
height: 50px;
background-color: rgb(97, 63, 63);
opacity: 0.5;
line-height: 50px;
border-bottom: 1px solid rgb(255, 255, 255);
box-sizing: border-box;
}
.content_in .banner_left .list li:hover{
 opacity: 1;
  }
.content_in .banner_left .list li div{
  float: left;
}
.content_in .banner_left .list .list_check{
  width: 70px;
height: 100%;
background-color: rgb(83, 129, 21);
text-align: center;

}
.content_in .banner_left .list_check i{
  display: inline-block;
  width: 14px;
  height: 14px;
  border: white 1px solid;
}
.content_in .banner_left .list .list_number{
  width: 30px;
  height: 100%;
background-color: rgb(209, 70, 70);
}
.content_in .banner_left .list .list_singer{
  width: 20%;
  height: 100%;
background-color: rgb(24, 59, 42);
}
.content_in .banner_left .list .list_name{
  width: 50%;
  height: 100%;
background-color: rgb(199, 96, 147);
}

.content_in .banner_left .list .list_time{
  width: 17%;
  height: 100%;
background-color: rgb(226, 156, 115);
}
.footer{
  width: 100%;
  height: 60px;
  background-color: rgb(61, 105, 61);
  position: absolute;
  left: 0;
  bottom: 0;
}
.footer .footer_in{
  width: 1200px;
  height: 100%;
  background-color: yellow;
  margin: 0 auto;

}